<nav class="nav-bar">
    <div>
        <ul class="nav-list-1">
            <li><a class="nav-link" href="/">HOME</a> | </li>
            <li><a class="nav-link" href="/exercises">EXERCISES</a> | </li>
            <li><a class="nav-link" href="/programs">WORKOUTS</a> | </li>
            <li><a class="nav-link" href="/myPrograms">MY WORKOUTS</a> | </li>
        </ul>

    </div>

    <div class="nav-list-2">
        {{#if isLoggedIn}}
        <li><a class="nav-link" href="/logout">LOGOUT</a></li>
        {{else}}
        <li><a class="nav-link" href="/signin">SIGNIN</a></li>
        {{/if}}
    </div>

</nav>