<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>

<body>

  {{>navbar}}


  <main class="page">
    {{{body}}}
  </main>

</body>
<script type="module" src="../scripts/main.js"></script>

</html>