<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  {{>navbar}}


  <main class="page">
    {{{body}}}
  </main>

</body>

</html>