<div class="form-container">
  <section class="form-box">
    <header class="form-header">
      <h1 class="signin-title">SIGN IN</h1>
      
    </header>
    {{#if msg}}
    <p class="message {{msg.status}}">{{msg.text}}</p>
    {{/if}}
    <form method="post" action="/signin" id="form_user">
      <div class="form-item-wrapper flexed-item">
        
        <input id="email" type="email" class="input-text input" placeholder="Email *" name="email"
          required>
      </div>
      <div class="form-item-wrapper flexed-item">
      
        <input id="password" type="password" class="input-text input" placeholder="Password *" required name="password"
          >
      </div>
      <button id="signin-btn" class="button-primary white">Log in!</button>
    </form>
    <p class="form-sub-infos">Don't have an account yet? <a href="/signup" class="button-link-form">Sign Up</a></p>
  </section>
</div>

