@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 500&display=swap';

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	box-sizing: border-box;
}

nav a {
	color: white;
	text-decoration: none;
}

.nav-bar {
	height: 10vh;
	width: 100vw;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 3em;
}

.nav-list-1 {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	font-size: 1.2em;
}

.nav-list-1 li {
	margin-right: 1em;
}

.nav-list-2 {
	list-style: none;
	font-size: 1.2em;
}

.main {
	background: url("../Images/home-workout.jpg")no-repeat center center fixed;
	width: 100vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 5rem;
	margin-right: 0.75rem;
}

h3 {
	font-size: 2.35rem;
	margin-left: 0.25rem;
}

.homepage-titles {
	margin-top: 0.5rem;
}

#homepage-span {
	margin-left: 0.15rem;
}

.big-container {
	display: flex;
	width: 100%;
}

.container {
	width: 90%;
}

.flexed-item {
	display: flex;
}

.form-container {
	background: url("../Images/signin_img.jpg")no-repeat center center;
	width: 100vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-box {
	border: 1px solid black;
	width: 20rem;
	height: auto;
	margin-top: 1rem;
	padding-left: 0.5rem;
}

.form-title {
	font-size: 4rem;
	margin-left: 2rem;
}

.form-subtitle {
	font-size: 1.97rem;
	margin-bottom: 1rem;
}

.form-item-wrapper {
	margin-bottom: 0.5rem;
	font-size: 1.25rem;
}

.button-primary {
	margin-bottom: 0.75rem;
}

#email,
#password,
#firstname,
#lastname {
	width: 90%;
	padding: 10px 15px;
	margin: 8px 0 8px 12px;
	box-sizing: border-box;
	border: 1px solid black;
}

button {
	font-size: 1rem;
	background-color: white;
	color: black;
	border: 1px solid black;
	width: 6rem;
	padding: 0.5rem;
	margin-left: 6.5rem;
}

.form-sub-infos {
	margin-left: 0.5rem;
	font-weight: 800;
}
