@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 500&display=swap';
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}
nav a {
    color: white;
    text-decoration: none;
}
.nav-bar {
    height: 10vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
}
.nav-list-1 {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2em;
}
.nav-list-1 li {
    margin-right: 1em;
}
.nav-list-2 {
    list-style: none;
    font-size: 1.2em;
}
#navbar-signin,
#navbar-logout {
    border: 1px solid white;
    width: auto;
    height: auto;
    padding: 0.5rem;
}
/* HOMEPAGE */
.homepage-container {
    background: url("../Images/home-workout.jpg")no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 5rem;
    margin-right: 0.75rem;
}
h3 {
    font-size: 2.35rem;
    margin-left: 0.25rem;
}
.homepage-titles {
    margin-top: 0.5rem;
}
#homepage-span {
    margin-left: 0.15rem;
}
/* SIGN IN + SIGN UP PAGES*/
.form-container {
    background: url("../Images/signin_img.jpg")no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-box {
    border: 1px solid black;
    width: 20rem;
    height: auto;
    margin-top: 1rem;
    padding-left: 0.5rem;
}
.signin-title {
    font-size: 4rem;
    text-align: center;
}
.signup-title {
    font-size: 4rem;
    text-align: center;
}
.form-subtitle {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}
#signup-span {
    margin-left: 0.025rem;
}
.button-primary {
    margin-bottom: 0.75rem;
}
#email,
#password,
#firstname,
#lastname {
    width: 90%;
    padding: 10px 15px;
    margin: 8px 0 8px 12px;
    box-sizing: border-box;
    border: 1px solid black;
}
#signin-btn {
    font-size: 1rem;
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 6rem;
    padding: 0.5rem;
    margin-left: 6.5rem;
}
#create-account-btn {
    font-size: 1rem;
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 10rem;
    padding: 0.5rem;
    margin-left: 4.75rem;
}
.form-sub-infos {
    font-weight: 800;
    text-align: center;
}
/* EXERCISES PAGE */
.exercises-container {
    background-image: url("../Images/exercise-img.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    display: flex;
}
.tag-list-item {
    font-size: 1rem;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 10rem;
    padding: 0.5rem;
    list-style: none;
}
.filter-form {
    position: fixed;
    z-index: 1;
    width: 250px;
    padding-top: 5rem;
    padding-left: 1rem;
}
#filter-form-title {
    color: white;
    background-color: black;
    font-size: 1.2rem;
    width: auto;
    height: auto;
    text-align: center;
}
#navbar-span {
    margin-right: 0.05rem;
}
#programName,
#programDescription {
    width: 90%;
    padding: 10px 15px;
    margin: 8px 0 8px 7px;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
}
#create-program-btn {
    font-size: 1rem;
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 0.5rem;
}
.exoList-exercises {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    list-style: none;
    margin-left: 250px;
}
.unique-exercise {
    border: 1px solid black;
    width: 35%;
    height: auto;
    text-align: center;
    margin-right: 75px;
    margin-top: 20px;
}
.exercise-upper-info {
    border: 1px solid black;
    width: auto;
    height: 20%;
    text-align: center;
    padding: 1rem 0 0 0;
    margin: 0.5rem 2rem;
}
iframe {
    border: 1px solid black;
    margin-bottom: 0.8rem;
}
/* PROGRAMS.HBS CSS */
.programs-container {
    background-image: url("../Images/exercise-img.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}
.exoList-programs {
    display: grid;
    grid-template-columns: auto auto;
    list-style: none;
}
.exercise-in-programs-container {
    border: 1px solid black;
    color: black;
    width: 400px;
    height: 400px;
    text-align: center;
    padding-bottom: 2rem;
    margin: 1.5rem 2rem;
}
img {
    max-width: 100%;
    height: auto;
    padding-bottom: 1rem;
}
.exercise-info-in-programs-container {
    border: 1px solid black;
    background-color: black;
    color: white;
    width: auto;
    height: 15%;
    text-align: center;
    padding: 1rem 0;
    margin: 0.5rem;
}
#try-this-program {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 0.75rem 0.5rem;
}
a {
    color: black;
    text-decoration: none;
}
/* MY PROGRAMS HBS */
.myPrograms-container {
    background-image: url("../Images/exercise-img.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}
.programList-container {
    display: grid;
    grid-template-columns: auto auto;
    list-style: none;
}
.myProgramList {
    border: 1px solid black;
    color: black;
    width: 400px;
    height: 400px;
    text-align: center;
    padding-bottom: 2rem;
    margin: 1.5rem 2rem;
}
#myProgram-name {
    border: 1px solid black;
    background-color: black;
    color: white;
    width: auto;
    height: 15%;
    text-align: center;
    padding: 1rem 0;
    margin: 0.5rem;
}
#myProgram-go-to,
#myProgram-update,
#myProgeam-delete {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 0.75rem 0.5rem;
}
.myProgramsExercises-container {
    background-image: url("../Images/exercise-img.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.myUnique-exercise {
    border: 1px solid black;
    width: 35%;
    height: fit-content;
    text-align: center;
    margin-right: 75px;
    margin-top: 20px;
}
.myUnique-exercise-upper-info {
    border: 1px solid black;
    width: auto;
    height: 15%;
    text-align: center;
    padding: 1rem 0;
    margin: 0.5rem 2rem;
}
.myUnique-exercise-bottom-info {
    border: 1px solid black;
    width: auto;
    height: auto;
    text-align: center;
    padding: 1rem 0 0 0;
    margin: 0.5rem 2rem;
}
#myUnique-exercise-h1 {
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 0.75rem 0.5rem;
    width: 50%;
}